@{
    ViewData["Title"] = "Saves";
}

<title>@ViewData["Title"]</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha512-6X1+tmOBP3S1e0K2yGL5qxmbFwFrTlYSwLiYefXqKw1Vr5pp/7tjcYpQx7zL4qIcpl73SOK3hQpGbXs/bETaGw==" crossorigin="anonymous" />
<link rel="stylesheet" href="~/css/Spartacus/DuplicateAdded.css" />

<div class="corp">
    <div class="menu-container">
        <h1 class="h1">The RunName is already taken, vai de capu tău 🤦‍♀️!</h1>
        <a class="links" asp-action="Index"><button class="btn btn-warning">Try Again</button></a>
    </div>
</div>
