@model UBB_SE_2024_Evil.Models.Spartacus.Game

@{
    ViewData["Title"] = "Fight";
}

<html>
<head>
    <script href="~/Scripts/Spartacus/GamePage.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/Spartacus/GamePage.css" />
    <script src="~/js/Spartacus/GamePage.js"></script>
</head>


<body>
    <div class="page">
        <div class="players">
            <div class="player2">
                <div class="circle">
                    <p class="energy">Energy: @Model.Player.Energy</p>
                </div>
                <div class="health-bar-container">
                    <div class="health-bar" id="player-health-bar"></div>
                </div>
                <img class="fighter2" src="~/Resources/Spartacus/fighter2.png" />
            </div>
            <div class="player1">
                <div class="circle">
                    <p class="energy">Energy: @Model.Enemy.MaxEnergy</p>
                </div>
                <div class="health-bar-container">
                    <div class="health-bar" id="enemy-health-bar"></div>
                </div>
                <img class="fighter1" src="~/Resources/Spartacus/fighter1.png"/>
            </div>
        </div>
        <div>
            <div class="move">
                <input id="inputDamage" type="number" placeholder="Damage:"/>
                <p>Damage</p>
                <input id="inputBlock" type="number" placeholder="Block:"/>
                <p>Block</p>
                <button id="submitButton">Submit</button>
            </div>
        </div>
    </div>
@*     <a asp-action="Win"><button>Win</button></a>
    <a asp-action="Lose"><button>Lose</button></a> *@
</body>
</html>
