@model IEnumerable<UBB_SE_2024_Evil.Models.Spartacus.GameSave>

@{
    ViewData["Title"] = "Saves";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="~/css/Spartacus/Index.css" />

<div class="corp">
    
    <h1 class="h1">Game Saves</h1>

    <form asp-action="LoadSave" method="post" class="save-form">
        <div class="form-group">
            <label for="gameSavesDropdown">Select a game save:</label>
            <select id="gameSavesDropdown" name="gameSaveId" class="form-control">
                <option disabled selected>No Game Selected</option>
                @foreach (var save in Model)
                {
                    <option value="@save.Id">@save.Name - Level: @save.Level </option>
                }
            </select>
        </div>

        <button type="submit" id="runButton" class="btn btn-warning" >RUN</button>
    </form>

    <a asp-area="" asp-controller="Game" asp-action="NewRun" class="btn btn-warning btn1 ">New Run</a>
</div>
