@{
    ViewData["Title"] = "You Lost!";
}

<title>@ViewData["Title"]</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha512-6X1+tmOBP3S1e0K2yGL5qxmbFwFrTlYSwLiYefXqKw1Vr5pp/7tjcYpQx7zL4qIcpl73SOK3hQpGbXs/bETaGw==" crossorigin="anonymous" />
<link rel="stylesheet" href="~/css/Spartacus/Lose.css" />

<div class="corp">
    <div class="menu-container">
        <h1 class="h1">@ViewData["Title"]</h1>
        <p class="par">I'm sorry! You lost, good luck next time😫!</p>
        <a class="links" asp-action="Index"><button class="btn btn-warning">Back</button></a>
    </div>
</div>
