@{
    ViewData["Title"] = "Saves";
}

<link rel="stylesheet" href="~/css/Spartacus/NewRun.css" />

<div class="corp">
    <h1 class="h1">New Run</h1>

    <form asp-action="NewSave" method="post" class="save-form">
        <div class="form-group">
            <label for="runName">Name:</label>
       
            <input type="text" id="runName" name="runName" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-warning">Add New Game</button>
    </form>

    <a asp-area="" asp-controller="Game" asp-action="Index" class="btn btn-warning btn1">Back</a>
</div>
